In [1]:
#Importing require library
import pandas as pd
import selenium
import re
from selenium.webdriver.support.ui import WebDriverWait
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,TimeoutException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
import time
import requests

# Q1

Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [15]:
# connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

# search on google
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

#fetch Require Data
rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
Rank=[i.text for i in rank]

name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
Name=[i.text for i in name]

artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
Artist=[i.text for i in artist]

upload_date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
Upload_date=[i.text for i in upload_date]

views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
Views=[i.text for i in views]

#Creat Data Frame
df=pd.DataFrame({
    'Rank':Rank[0:30],
    'Name':Name[0:30],
    'Artist':Artist[0:30],
    'Upload_date':Upload_date[0:30],
    'Views':Views[0:30]
})
df

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.98
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.04
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.56
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.88
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.87
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.73
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.07
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.78
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.76
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.63
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.17
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.66
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.39
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.30
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

# Q2

Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1

st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [8]:
# connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

# search on google is https://www.bcci.tv/
driver.get("https://www.bcci.tv/")
time.sleep(10)

# for click
Click_=driver.find_element(By.XPATH,'/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a')
Click_.click()
time.sleep(5)


#Fetch all require Data
match_title=driver.find_elements(By.XPATH,'//h5[@class="fix-text"][2]')
Match_title=[i.text for i in match_title]

series=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
Series=[i.text for i in series]

place=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
Place=[i.text.split('-')[1] for i in place]

date=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
Date=[i.text for i in date]

timee=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
Time=[i.text for i in timee]

#Creat Data Frame
df=pd.DataFrame({
    'Match_title':Match_title,
    'Series':Series,
    'Place':Place,
    'Date':Date,
    'Time':Time
})
df

,Match_title,Series,Place,Date,Time
0,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,2nd T20I -,"Steyn City School Ground, Pretoria",29 DEC 2022,5:15 PM IST
1,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,3rd T20I -,"Steyn City School Ground, Pretoria",31 DEC 2022,1:30 PM IST
2,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,4th T20I -,"Steyn City School Ground, Pretoria",2 JAN 2023,5:15 PM IST
3,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,1st T20I -,"Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
4,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,5th T20I -,"Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
5,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,2nd T20I -,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:00 PM IST
6,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,3rd T20I -,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:00 PM IST
7,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,1st ODI -,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
8,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI -,"Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
9,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI -,"Greenfield International Stadium, Thiruvanant...",15 JAN 2023,1:30 PM IST
10,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,1st ODI -,"Rajiv Gandhi International Stadium, Hyderabad",18 JAN 2023,1:30 PM IST
11,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,2nd ODI -,Shaheed Veer Narayan Singh International Cric...,21 JAN 2023,1:30 PM IST
12,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,3rd ODI -,"Holkar Cricket Stadium, Indore",24 JAN 2023,1:30 PM IST
13,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,1st T20I -,"JSCA International Stadium Complex, Ranchi",27 JAN 2023,7:30 PM IST
14,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,2nd T20I -,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,29 JAN 2023,7:30 PM IST
15,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,3rd T20I -,"Narendra Modi Stadium, Ahmedabad",1 FEB 2023,7:30 PM IST
16,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,1st Test -,"Vidarbha Cricket Association Stadium, Nagpur",9 FEB 2023,9:30 AM IST
17,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,2nd Test -,"Arun Jaitley Stadium, Delhi",17 FEB 2023,9:30 AM IST
18,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,3rd Test -,"Himachal Pradesh Cricket Association Stadium,...",1 MAR 2023,9:30 AM IST
19,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,4th Test -,"Narendra Modi Stadium, Ahmedabad",9 MAR 2023,9:30 AM IST
20,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,1st ODI -,"Wankhede Stadium, Mumbai",17 MAR 2023,1:30 PM IST
21,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI -,Dr YS Rajasekhara Reddy ACA,19 MAR 2023,1:30 PM IST
22,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI -,"MA Chidambaram Stadium, Chennai",22 MAR 2023,1:30 PM IST

# Q3

Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
# connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

# search on google is https://www.guru99.com/
driver.get("https://www.guru99.com/")
time.sleep(2)

In [4]:
# for click
Click_S=driver.find_element(By.XPATH,'/html/body/div[1]/header/div[1]/div/div/div/div/div/div/div/div[2]/div[1]/nav/div/ul/li[2]/ul/li[12]/a')
Click_S.click()
time.sleep(2)

# for click
Click_E=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]')
Click_E.click()
time.sleep(2)

#fetch all require Data
name=driver.find_elements(By.XPATH,'//div[@class="entry-content-wrap"]/div/p/strong')
Name=[i.text for i in name]

description=driver.find_elements(By.XPATH,'//div[@class="entry-content-wrap"]/div/p')
Description=[i.text for i in description]

#remove unwanted part
Descriptionn=Description[0:41]

k=[]
for i in range(len(Descriptionn)):
        X=re.findall(r':(.*)',Descriptionn[i])
        k.append(X)
        
df=pd.DataFrame({
    'Name':Name[0:41],
    'Description':k[0:41]
})
df

,Name,Description
0,1. ElementNotVisibleException:,[ This type of Selenium exception occurs when ...
1,2. ElementNotSelectableException:,[ This Selenium exception occurs when an eleme...
2,3. NoSuchElementException:,[ This Exception occurs if an element could no...
3,4. NoSuchFrameException:,[ This Exception occurs if the frame target to...
4,5. NoAlertPresentException:,[ This Exception occurs when you switch to no ...
5,6. NoSuchWindowException:,[ This Exception occurs if the window target t...
6,7. StaleElementReferenceException:,[ This Selenium exception occurs happens when ...
7,8. SessionNotFoundException:,[ The WebDriver is acting after you quit the b...
8,9. TimeoutException:,[ Thrown when there is not enough time for a c...
9,10. WebDriverException:,[ This Exception takes place when the WebDrive...
10,11. ConnectionClosedException:,[ This type of Exception takes place when ther...
11,12. ElementClickInterceptedException:,[ The command may not be completed as the elem...
12,13. ElementNotInteractableException:,[ This Selenium exception is thrown when any e...
13,14. ErrorInResponseException:,[ This happens while interacting with the Fire...
14,15. ErrorHandler.UnknownServerException:,[ Exception is used as a placeholder in case i...
15,16. ImeActivationFailedException:,[ This expectation will occur when IME engine ...
16,17. ImeNotAvailableException:,[ It takes place when IME support is unavailab...
17,18. InsecureCertificateException:,[ Navigation made the user agent to hit a cert...
18,19. InvalidArgumentException:,[ It occurs when an argument does not belong t...
19,20. InvalidCookieDomainException:,[ This happens when you try to add a cookie un...
20,21. InvalidCoordinatesException:,[ This type of Exception matches an interactin...
21,22. InvalidElementStateException:,[ It occurs when command can’t be finished whe...
22,23. InvalidSessionIdException:,[ This Exception took place when the given ses...
23,24. InvalidSwitchToTargetException:,[ This occurs when the frame or window target ...
24,25. JavascriptException:,[ This issue occurs while executing JavaScript...
25,26. JsonException:,[ It occurs when you afford to get the session...
26,27. NoSuchAttributeException:,[ This kind of Exception occurs when the attri...
27,28. MoveTargetOutOfBoundsException:,[ It takes place if the target provided to the...
28,29. NoSuchContextException:,[ ContextAware does mobile device testing.]
29,30. NoSuchCookieException:,[ This Exception occurs when no cookie matchin...
30,31. NotFoundException:,[ This Exception is a subclass of WebDriverExc...
31,32. RemoteDriverServerException:,[ This Selenium exception is thrown when the s...
32,33. ScreenshotException:,[ It is not possible to capture a screen.]
33,34. SessionNotCreatedException:,[ It happens when a new session could not be s...
34,35. UnableToSetCookieException:,[ This occurs if a driver is unable to set a c...
35,36. UnexpectedTagNameException:,[ Happens if a support class did not get a web...
36,37. UnhandledAlertException:,[ This expectation occurs when there is an ale...
37,38. UnexpectedAlertPresentException:,[ It occurs when there is the appearance of an...
38,39. UnknownMethodException:,[ This Exception happens when the requested co...
39,40. UnreachableBrowserException:,[ This Exception occurs only when the browser ...
40,41. UnsupportedCommandException:,[ This occurs when remote WebDriver doesn’t se...

# Q4

Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [14]:
# connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

# search on google is https://www.statisticstimes.com/
driver.get("https://www.statisticstimes.com/")


# for click
Economy=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
Economy.click()
time.sleep(3)

# for click
India=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
India.click()
time.sleep(6)

# for click
India_GDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
India_GDP.click()
time.sleep(3)


# Fetch all Require Data

rank=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[1]')
Rank=[i.text for i in rank]

state=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[2]')
State=[i.text for i in state]

gSDP_18_19=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[4]')
GSDP_18_19=[i.text for i in gSDP_18_19]

gSDP_19_20=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[3]')
GSDP_19_20=[i.text for i in gSDP_19_20]

share_18_19=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[5]')
Share_18_19=[i.text for i in share_18_19]

gdp=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[6]')
GDP=[i.text for i in gdp]


#Creat DataFrame
df=pd.DataFrame({
    'Rank':Rank[0:33],
    'State':State[0:33],
    'GSDP_18_19':GSDP_18_19[0:33],
    'GSDP_19_20':GSDP_19_20[0:33],
    'Share_18_19':Share_18_19[0:33],
    'GDP':GDP[0:33]
})
df

   Rank                      State GSDP_18_19 GSDP_19_20 Share_18_19      GDP
0     1                Maharashtra  2,632,792          -      13.94%  399.921
1     2                 Tamil Nadu  1,630,208  1,845,853       8.63%  247.629
2     3              Uttar Pradesh  1,584,764  1,687,818       8.39%  240.726
3     4                    Gujarat  1,502,899          -       7.96%  228.290
4     5                  Karnataka  1,493,127  1,631,977       7.91%  226.806
5     6                West Bengal  1,089,898  1,253,832       5.77%  165.556
6     7                  Rajasthan    942,586  1,020,989       4.99%  143.179
7     8             Andhra Pradesh    862,957    972,782       4.57%  131.083
8     9                  Telangana    861,031    969,604       4.56%  130.791
9    10             Madhya Pradesh    809,592    906,672       4.29%  122.977
10   11                     Kerala    781,653          -       4.14%  118.733
11   12                      Delhi    774,870    856,112       4.10%  117.703
12   13                    Haryana    734,163    831,610       3.89%  111.519
13   14                      Bihar    530,363    611,804       2.81%   80.562
14   15                     Punjab    526,376    574,760       2.79%   79.957
15   16                     Odisha    487,805    521,275       2.58%   74.098
16   17                      Assam    315,881          -       1.67%   47.982
17   18               Chhattisgarh    304,063    329,180       1.61%   46.187
18   19                  Jharkhand    297,204    328,598       1.57%   45.145
19   20                Uttarakhand    245,895          -       1.30%   37.351
20   21            Jammu & Kashmir    155,956          -       0.83%   23.690
21   22           Himachal Pradesh    153,845    165,472       0.81%   23.369
22   23                        Goa     73,170     80,449       0.39%   11.115
23   24                    Tripura     49,845     55,984       0.26%    7.571
24   25                 Chandigarh     42,114          -       0.22%    6.397
25   26                 Puducherry     34,433     38,253       0.18%    5.230
26   27                  Meghalaya     33,481     36,572       0.18%    5.086
27   28                     Sikkim     28,723     32,496       0.15%    4.363
28   29                    Manipur     27,870     31,790       0.15%    4.233
29   30                   Nagaland     27,283          -       0.14%    4.144
30   31          Arunachal Pradesh     24,603          -       0.13%    3.737
31   32                    Mizoram     22,287     26,503       0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -           -        -

# Q5

Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code

In [6]:
# connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

# search on google is https://github.com/
driver.get("https://github.com/")


# for click
Click1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
Click1.click()
time.sleep(3)

# for click
Click2=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
Click2.click()
time.sleep(3)

#fetch require data 
repository_title=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
Repository_title=[i.text for i in repository_title]


repository_description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
Repository_description=[i.text for i in repository_description]


contributors_count=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
Contributors_count=[i.text for i in contributors_count]


language_used=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
Language_used=[i.text for i in language_used]


#Creat Data Frame
df=pd.DataFrame({
    'Repository_title':Repository_title[0:22],
    'Repository_description':Repository_description[0:22],
    'Contributors_count':Contributors_count[0:22],
    'Language_used':Language_used[0:22]
})
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,google / comprehensive-rust,This is the Rust course used by the Android te...,133,Rust
1,LAION-AI / Open-Assistant,A tutorial of building an LSM-Tree storage eng...,47,Python
2,skyzh / mini-lsm,Reproduce DeFi hacked incidents using Foundry.,34,Rust
3,SunWeb3Sec / DeFiHackLabs,This repo includes ChatGPT promt curation to u...,322,Solidity
4,adrianhajdin / project_openai_codex,A curated list of the latest breakthroughs in ...,84,JavaScript
5,f / awesome-chatgpt-prompts,"this repository accompanies the book ""Grokking...",640,HTML
6,louisfb01 / best_AI_papers_2022,Implementation of RLHF (Reinforcement Learning...,157,Jupyter Notebook
7,iamtrask / Grokking-Deep-Learning,A book teaching assembly language programming ...,"1,408",Python
8,lucidrains / PaLM-rlhf-pytorch,"🚀🎉📚 APITable, an API-oriented low-code platfor...",34,Assembly
9,pkivolowitz / asm_book,A repo for distributed training of language mo...,52,TypeScript
10,apitable / apitable,An introduction to ARM64 assembly on Apple Sil...,27,Python
11,CarperAI / trlx,Repository for my flipper zero badUSB payloads,73,Assembly
12,below / HelloSilicon,🧑‍🏫 59 Implementations/tutorials of deep learn...,148,PowerShell
13,I-Am-Jakoby / Flipper-Zero-BadUSB,IDA plugin which queries OpenAI's davinci-003 ...,138,Jupyter Notebook
14,labmlai / annotated_deep_learning_paper_implem...,Lightweight package for interacting with ChatG...,"1,762",Python
15,JusticeRage / Gepetto,Master programming by recreating your favorite...,136,Python
16,acheong08 / ChatGPT,A Python Interpreter written in Rust,988,Rust
17,codecrafters-io / build-your-own-x,A fancy self-hosted monitoring tool,"17,475",JavaScript
18,RustPython / RustPython,Python desde cero,891,Python
19,louislam / uptime-kuma,Learn how to design large-scale systems. Prep ...,"2,226",Python
20,mouredev / Hello-Python,RT-Thread is an open source IoT operating system.,333,C
21,donnemartin / system-design-primer,OBS Studio - Free and open source software for...,"37,083",C

# Q6

Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [9]:
# connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

# search on google is https://www.billboard.com/
driver.get("https://www.billboard.com/")

# for click
Click1=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
Click1.click()
time.sleep(3)

# for click
Click2=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
Click2.click()
time.sleep(3)

#close advertisement manual

In [10]:
#fetch require Data
song_name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3')
Song_name=[i.text for i in song_name]


artist_name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
Artist_name=[i.text for i in artist_name]


last_week_rank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span[1]')
Last_week_rank=[i.text for i in last_week_rank]


peak_rank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span[1]')
Peak_rank=[i.text for i in peak_rank]


weeks_on_board=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span[1]')
Weeks_on_board=[i.text for i in weeks_on_board]


#Creat DataFrame
df=pd.DataFrame({
    'Song_name':Song_name,
    'Artist_name':Artist_name,
    'Last_week_rank':Last_week_rank,
    'Peak_rank':Peak_rank,
    'Weeks_on_board':Weeks_on_board
})
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,All I Want For Christmas Is You,Mariah Carey,1,1,56
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,50
2,Kill Bill,SZA,-,3,1
3,Jingle Bell Rock,Bobby Helms,3,3,47
4,A Holly Jolly Christmas,Burl Ives,4,4,30
...,...,...,...,...,...
95,On BS,Drake & 21 Savage,75,4,6
96,Water (Drowning Pt. 2),A Boogie Wit da Hoodie Featuring Kodak Black,-,97,1
97,Around Me,Metro Boomin Featuring Don Toliver,53,53,2
98,Tennessee Fan,Morgan Wallen,49,49,2
99,Major Distribution,Drake & 21 Savage,77,3,6

# Q7

Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [3]:
# connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

# search on google is https://www.naukri.com/
driver.get("https://www.naukri.com/hr-recruiters-consultants") 

# enter the value for designation Data Science
designation=driver.find_element(By.CLASS_NAME,"sugInp")
designation.send_keys("Data Science")
time.sleep(2)

# for click on search button
search=driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']")
search.click()
time.sleep(3) # this time is require to open site

#fetch all require data like name, company etc.
name=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
Name=[i.text for i in name]

designation=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
Designation=[i.text for i in designation]

company=driver.find_elements(By.XPATH,'//a[@class="ellipsis"][2]')
Company=[i.text for i in company]

skills_they_hire_for=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
Skills_they_hire_for=[i.text for i in skills_they_hire_for]

location=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
Location=[i.text for i in location]

#creat Data Frame 
df=pd.DataFrame({
    'Name':Name[0:47],
    'Designation':Designation[0:47],
    'Company':Company[0:47],
    'Skills_they_hire_for':Skills_they_hire_for[0:47],
    'Location':Location[0:47]
})
df

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
34,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore

# Q8

Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [12]:
# connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

# search on google
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")


#Fetch Require Data
book_name=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
Book_name=[i.text for i in book_name]

author_name=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
Author_name=[i.text for i in author_name]

volumes_sold=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
Volumes_sold=[i.text for i in volumes_sold]

publisher=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
Publisher=[i.text for i in publisher]

genre=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
Genre=[i.text for i in genre]

#Creat DataFrame
df=pd.DataFrame({
    'Book_name':Book_name,
    'Author_name':Author_name,
    'Volumes_sold':Volumes_sold,
    'Publisher':Publisher,
    'Genre':Genre
})
df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9

Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span


C) Genre

D) Run time

E) Ratings

F) Votes

In [4]:
# connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

# search on google is https://www.imdb.com/list/ls095964455/
driver.get("https://www.imdb.com/list/ls095964455/")


#Fetch all the require data like name,Year, etc.
name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
Name=[i.text for i in name]

year_span=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
Year_span=[i.text for i in year_span]

genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
Genre=[i.text for i in genre]

run_time=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
Run_time=[i.text for i in run_time]

ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
Ratings=[i.text for i in ratings]

votes=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
Votes=[i.text for i in votes]


#Creat Data Frame
df=pd.DataFrame({
    'Name':Name,
    'Year_span':Year_span,
    'Genre':Genre,
    'Run_time':Run_time,
    'Ratings':Ratings,
    'Votes':Votes
})
df

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,097,722"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,187,690"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"992,923"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"293,829"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,005"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,322"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,856"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"199,560"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,677"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"246,519"

# Q10

Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [2]:
# connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

# search on google
driver.get("https://archive.ics.uci.edu/ml/index.php")


# for click
Click=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
Click.click()
time.sleep(3)


#fetch all require Data
dataset_name=driver.find_elements(By.XPATH,'//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b')
Dataset_name=[i.text for i in dataset_name]

data_type=driver.find_elements(By.XPATH,'//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
Data_type=[i.text for i in data_type]


task=driver.find_elements(By.XPATH,'//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
Task=[i.text for i in task]

attribute_type=driver.find_elements(By.XPATH,'//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
Attribute_type=[i.text for i in attribute_type]

no_of_instances=driver.find_elements(By.XPATH,'//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
No_of_instances=[i.text for i in no_of_instances]

no_of_attribute=driver.find_elements(By.XPATH,'//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
No_of_attribute=[i.text for i in no_of_attribute]

year=driver.find_elements(By.XPATH,'//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
Year=[i.text for i in year]


#Creat DataFrame
df=pd.DataFrame({
    'Dataset_name':Dataset_name,
    'Data_type':Data_type[1:],
    'Task':Task[1:],
    'Attribute_type':Attribute_type[1:],
    'No_of_instances':No_of_instances[1:],
    'No_of_attribute':No_of_attribute[1:],
    'Year':Year[1:]
})
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021